/* Dots indicate classes, and hashtags indicate IDs. */
header {
  text-align: center;
  background-image: url('../midterm-assets/lone-starfish-wide.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html {
  font-family: Arial, sans-serif;
  background-color: #aad4cf;
  display: flex;
  /* Force all to center */
  justify-content: center;
  align-items: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

main {
  font-family: Arial, sans-serif;
  background-color: #d4e9e7;
  padding: 15px;
}

main h2 {
  font-weight: normal;
  font-size: 40px;
}

main p {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}

.inset {
  /* The inset is for the square image. */
  float: left;
  margin-right: 20px;
  width: auto;
  height: 300px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  color: white
}

#header-navigation {
  background-color: #d4e9e7;
}

#header-navigation ul {
  /* For the 3 header options */
  list-style-type: none;
  margin: 7px 5px;
  padding: 10px;
  width: 960px;
  float: center;
  text-align: center;
}

#header-navigation ul li {
  display: inline;
  padding: 10px 8px;
}

.header-navigation {
  text-align: center;
  background-color: #d4e9e7;
  padding: 10px;
}

.header-option {
  display: inline-block;
  color: black;
  text-decoration: none;
  width: 33%;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-option:hover {
  /* Headers when hovered over */
  color: #777;
}

.header-option:active {
  /* Headers when clicking */
  color: #555;
}

.header-divider {
  display: none;
}

.header-option:not(:last-child) {
  /* Place borders after every child that isn't the last. */
  border-right: 1px solid black;
}

form {
  /* Targets entire form and wraps it in a border. */
  border: 2px solid black;
  padding: 20px 10px;
}

button[type="submit"] {
  /* For the submission button. */
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: black;
  color: white;
}
