body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #013220; /* Blackish-green background color */
    color: #fff; /* Default text color */
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.main-container {
    width: 95%;
    margin: 0 auto;
    background-color: #013220; /* Match the body background color */
}

.about-section {
    background-color: #07b618; /* Green background color */
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    position: relative;
}

.selfie-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 150px; /* Adjust size as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
    background-color: #013220; /* Darker green section background */
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
}

footer {
    background-color: #07b618;
    color: #000;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-style: italic;
    text-align: center;
}

.nav-item.active .nav-link {
    font-weight: bold;
}
