body {
    font-family: 'Josefin Sans', Arial, sans-serif;
    background-color: #013220; /* Blackish-green background color */
    color: #fff; /* Default text color */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.main-container {
    width: 95%;
    margin: 0 auto;
    background-color: #013220; /* Match the body background color */
    flex: 1; /* This makes the main content grow and push the footer to the bottom */
}

.hero-section {
    background-color: #2ecc71; /* Example background color */
    padding: 50px;
    border-radius: 10px;
}

.hero-section h1 {
    color: #fff; /* Text color for h1 */
}

.hero-section p {
    color: #fff; /* Text color for paragraph */
}

/* Button styles */
.btn-reach-out {
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    font-weight: bold; /* Bold text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-reach-out:hover,
.btn-reach-out:active {
    background-color: #00690b; /* Green background on hover/click */
    color: #fff; /* White text color on hover/click */
}

.works-section {
    display: flex;
    justify-content: space-around;
}

.works-section img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #07b618; /* Green background color */
    color: #000; /* Black text color */
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    font-style: italic; /* Italic text */
    margin: 0; /* Remove default margin */
}
