:root {
    --primary-color: #3498db; /* Example color */
    --secondary-color: #2ecc71; /* Example color */
    --bg-color: #f5f5f5; /* Example color */
    --text-color: #333; /* Example color */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: var(--secondary-color);
}
