/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Body styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
.desktop-header {
    background-color: #222222;
    padding: 10px 0;
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    max-width: 1200px; /* Maximum width of the header */
    margin: 0 auto; /* Center the header horizontally */
    padding: 0 calc(1/12 * 100%); /* Gap of 1/12 on both sides */
}

/* Logo styles */
.logo {
    flex: 0 1 calc(1/12 * 100%); /* 1/12 width */
}

.logo img {
    max-width: 100%; /* Ensure logo fits within container */
}

/* Menu styles */
.menu {
    flex: 5; /* Take remaining space */
    display: flex;
    justify-content: center; /* Center menu items */
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.box {
    padding: 0 10px;
    background-color: transparent;
    border-radius: 5px; /* Rounded corners */
}

.box a {
    color: #c78b07;
    text-decoration: none;
    padding: 10px;
    transition: font-weight 0.3s ease;
}

.box:not(:last-child) {
  margin-right: 40px; /* Adjust as needed */
}

/* Active menu item styles based on child number */
.menu ul li:nth-child(1) a.active,
.menu ul li:nth-child(2) a.active,
.menu ul li:nth-child(3) a.active,
.menu ul li:nth-child(4) a.active,
.menu ul li:nth-child(5) a.active {
    font-weight: bold;
    color: #222;
    background-color: #c78b07; /* Box background color */
}

/* Search bar styles */
.search-bar {
    flex: 0 1 calc(1/12 * 100%); /* 1/12 width */
    display: flex;
    justify-content: flex-end; /* Align search bar to the right */
    align-items: center;
}

.search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Section 1 styles */
.section1 {
    position: relative;
    overflow: hidden;
    width: 100%; /* Full width */
    margin: 0 auto; /* Center section horizontally */
    height: calc(75vw / 3); /* Center 75% of the viewport width */
    background-image: url('images/main-banner.jpg');
    background-size: cover; /* Cover the entire section */
    background-position: center center; /* Center the background image */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.black-box {
    background-color: rgba(0, 0, 0, 0.5); /* Black box with 50% transparency */
    padding: 20px;
    border-radius: 5px;
    text-align: left; /* Align content to the left */
    color: #fff;
    width: 80%; /* 80% of the size of the section */
    max-width: calc(100% - 2 * calc(1/12 * 100%)); /* Limit width based on margins */
    margin: 0 auto; /* Center horizontally */
    height: 75%; /* 75% of the section 1 height */
    max-height: 75%; /* Maximum height of 75% of the section 1 height */
    overflow-y: auto; /* Add scroll if content exceeds max height */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
    z-index: 1;
    margin: 0 calc(1/12 * 100%); /* Gap of 1/12 on both sides */
}

h1 {
    font-size: 500%;
    margin-bottom: 20px;
}

.lorem-text1 {
    font-size: 120%; /* Set the font size to 80% of its original size */
    margin-bottom: 20px;
}

.connect-button {
    background-color: #c78b07;
    color: #000;
    padding: 30px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: inline-flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.connect-button::after {
    content: ' ▶'; /* Arrow right character */
    margin-left: 5px; /* Add space between text and arrow */
}

/* Section 2 styles */
.section2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(60vh + 60%); /* Shrink by 50% (from 120vh to 60vh) */
    background-color: #ffe6ac; /* Background color for section 2 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.content2 {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    padding: 0 calc(1/12 * 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-box {
    flex: 0 1 auto;
    margin: 10% 0; /* 10% margin above and below the image */
    text-align: center;
}

.about-image {
    max-width: 100%;
    height: auto;
}

.right-box {
    flex: 0 1 auto;
    padding-left: 40px;
}

.right-box h2 {
    color: #000;
    font-size: 300%;
}

.right-box p {
    color: #000;
    margin-bottom: 20px;
}

/* Section 4 styles */
.section4 {
    position: relative;
    overflow: hidden;
    width: 100%; /* Full width */
    margin: 0 auto; /* Center section horizontally */
    height: calc(50vw / 3); /* Center 50% of the viewport width */
    background-image: url('../images/vision.jpg'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center center; /* Center the background image */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #fff; /* Text color */
}


.section4-content {
    margin: 0 calc(7/48 * 100%); /* Add back margins for content */
    padding: 20px; /* Add padding as needed */
    text-align: left; /* Left-align text */
}

.section4 h3 {
    font-size: 200%;
    color: #fff; /* White text color */
}

.section4 p {
    font-size: 100%;
    margin: 20px 0;
}

.section4 .custom-button {
    background-color: rgba(0, 0, 0, 0.8); /* 80% opacity black */
    color: #c78b07; /* Button text color */
    padding: 15px 30px;
    border: 1px solid #c78b07; /* Border color */
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section4 .custom-button::after {
    content: ' ▶'; /* Arrow right character */
    margin-left: 5px; /* Add space between text and arrow */
}

.section4 .custom-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white on hover */
    color: #fff; /* White text color on hover */
}

/* Section 5 styles */
.section5 {
    margin: 0 auto; /* Center horizontally */
    max-width: 1200px; /* Same max-width as Section 7 */
    padding: 0 calc(1/12 * 100%) 10px; /* Add 10px padding at the bottom */
    display: flex;
    justify-content: space-between; /* Evenly distribute flex items */
    flex-wrap: wrap; /* Allow flex items to wrap */
}

.team-heading {
    font-size: 300%; /* Same font size as Section 6's H2 */
    margin-top: 20px 0; /* Add margin for spacing */
    text-align: center; /* Center align the heading */
}

.section5 .content5 {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Stretch items to equal height */
    width: 100%; /* Full width */
}

.section5 .center-box5,
.section5 .right-box5 {
    flex: 0 0 50%; /* 50% width */
}

.section5 .profile-image5 {
    width: 100%;
    max-width: 100%; /* Ensure image fills its container */
    display: block; /* Remove default inline-block spacing */
}

.section5 .right-box5 {
    padding-left: 20px;
    text-align: left; /* Align text to the left */
    background-color: #ffe6ac; /* Background color for right-box */
    display: flex;
    flex-direction: column; /* Align items in column direction */
    justify-content: space-between; /* Space evenly between items */
}

.section5 .right-box5 h3 {
    color: #000;
    font-size: 300%;
    margin-bottom: 10px; /* Add margin below heading */
}

.section5 .right-box5 .team-role5 {
    font-size: 150%;
}

.section5 .divider5 {
    border: 1px solid #c78b07;
    margin: 10px 0;
}


/* Section 6 styles */
.section6 {
    margin: 0 calc(1/12 * 100%);
    padding: 0 calc(1/12 * 100%) 10px; /* Add 10px padding at the bottom */
    max-width: 1200px; /* Same max-width as Section 7 */
    margin: 0 auto; /* Center horizontally */
}

.section6 h2 {
    font-size: 300%;
}

.section6 .flex-container {
    display: flex;
    gap: 2.5%;
}

.section6 .flex-item {
    flex: 1;
}

.section6 h3 {
    font-size: 200%;
}

.message-form .form-group:nth-child(3) input {
    width: 75%;
}

.message-form .form-group input,
.message-form .form-group textarea {
    width: 90%;
    box-sizing: border-box;
}

/* Section 7 styles */
.section7 {
    background-color: #fff; /* White background */
    padding: 0 calc(1/12 * 100%) 10px; /* Margins on both sides and 10px padding at the bottom */
}

.content7 {
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    font-size: 200%;
}

table {
    width: 100%;
    border-collapse: collapse; /* Collapse table borders */
}

th, td {
    border: 1px solid #000; /* 1px solid black borders for cells */
    padding: 10px;
}

th {
    background-color: #ffe6ac; /* Background color for top row cells */
}

tr:nth-child(2n) td {
    background-color: transparent; /* Transparent background for even rows */
}

/* Footer styles */
.desktop-footer {
    background-color: #222222;
    color: #c78b07;
    padding: 20px 0;
    text-align: left; /* Align text to the left */
    font-size: 0.75em; /* 0.75x size of menu text */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(1/12 * 100%); /* Gap of 1/12 on both sides */
}

.link-underline {
    color: #c78b07;
    text-decoration: underline; /* Add underline to the link */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.link-underline:hover {
    color: #fff; /* Change color on hover */
}
